<style>
  #bottom-footer {
    position: relative;
    margin-top: -180px;
    /* height: 180px; */
    /* clear: both; */
  }
</style>

<!-- Footer -->
<footer id="bottom-footer" class="page-footer font-small pt-4 bg-dark" style="color:#fff;">
  <hr>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
        <p>We're a group of 4 seniors @ASU and we hope that this website will be a
          useful tool to hone your programming skills. </p>
        <p>"Do not fear code, it's written by humans afterall - John Doe"</p>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">GitHub</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/Nithin3" style="color: rgb(43, 157, 157);">Nithin</a>
          </li>
          <li>
            <a href="https://github.com/nehashah2898" style="color:rgb(43, 157, 157);">Neha</a>
          </li>
          <li>
            <a href="#!" style="color: rgb(43, 157, 157);">Siva</a>
          </li>
          <li>
            <a href="https://github.com/ayanjoshi" style="color: rgb(43, 157, 157);">Ayan</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">LinkedIn</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: rgb(43, 157, 157);">Link 1</a>
          </li>
          <li>
            <a href="#!" style="color: rgb(43, 157, 157);">Link 2</a>
          </li>
          <li>
            <a href="#!" style="color: rgb(43, 157, 157);">Link 3</a>
          </li>
          <li>
            <a href="#!" style="color: rgb(43, 157, 157);">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="/users/register" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-github"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/nehashah2898/seecube" class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://seecube.herokuapp.com/" target="_blank"> https://seecube.herokuapp.com/</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->