<div class="container">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome!</p>
    <hr>
    <br>
    <h3 class="mt-4">Help us improve our app by filling out this short form: </h3>
    <a href="https://bit.ly/2TnlB7w" class="btn btn-secondary">Fill out survey</a>
    <br></br>
</div>