<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
        <hr>
        <a href="/users/login" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Student</a>
        <br>
        <a href="/employer/login" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Employer</a>
        <p class="lead mt-4">
          No Account? <a href="/register">Register</a>
        </p>
      </div>
    </div>
  </div>