
<div class="container">
  <br>
  <div class="row">
      <div class="col-md-5">
        <h1 class="h4">About Ccube</h1>
        <p class="mt-4 mb-4">Ccube is an interactive platform to help you enhance your skills, expand technical knowledge and prepare for technical interviews. </p>
      </div>
      <div class="col-md-5">
        <img height="200px" width="300px" src="img/landing.jpg" class="rounded float-right" alt="Neha">
      </div>
    </div>
    <hr>
  <div class="row">
    <div class="col-md-5">
      <img height="150px" width="300px" src="img/features.jpg" class="rounded float-left" alt="Neha">
    </div>
      <div class="col-md-5">
        <h1 class="h4">Product Features</h1>
        <p class="mt-4 mb-4">
          <ul>
            <li >Multi Platform Capability</li>
            <li >Easy and interactive user Interface</li>
            <li >Tailored coding questions</li>
            <li >Interactive user profile and discussion forum</li>
          </ul>
        </p>
      </div>
    
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <h1 class="h4">Why Ccube ?</h1>
        <p class="mt-4 mb-4">
        With Ccube, users can take their coding skills to next level, show their progress to potential 
        employes and apply for jobs. Ccube is one stop that every student who wants to get their dream job in 
        tech industry.
        </p>
      </div>
      <div class="col-md-5">
        <img height="200px" width="300px" src="img/images.png" class="rounded float-left" alt="Neha">
      </div>
      </div>
    </div>