<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-plus-square"></i>  Add New Problem</h1>
        <%- include ('../partials/messages') %>
        <form action="/problems" method="POST"> <!--  Add for file upload: enctype="multipart/form-data" -->
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              placeholder="Enter Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <br>
            <textarea
                placeholder="Full problem description"
                class="form-control" 
                id="description" 
                name="description" 
                rows="4"
                required></textarea>
          </div>
          <div class="form-group">
            <label for="example">Example</label>
            <textarea 
                class="form-control"
                id="example" 
                name="example" 
                rows="4"
                required></textarea>
          </div>
          <div class="form-group">
            <label for="limits">Limits</label>
            <textarea 
                class="form-control"
                id="limits" 
                name="limits" 
                rows="4"
                required></textarea>
          </div>
          <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <select id="difficulty" class="form-control" name="difficulty">
                <option selected>Choose Difficulty</option>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <select id="year" class="form-control" name="year">
                <option selected>Choose Year</option>
                <option>Freshmen</option>
                <option>Sophomore</option>
                <option>Junior</option>
                <option>Senior</option>
            </select>
          </div>
          <div class="form-group">
            <label for="input">Enter Test Inputs (Make sure there are no trailing spaces)</label>
            <br>
            <textarea
                placeholder="Input"
                class="form-control" 
                id="input" 
                name="input" 
                rows="4"
                required></textarea>
          </div>
          <div class="form-group">
            <label for="output">Enter Test Outputs (Make sure there are no trailing spaces)</label>
            <br>
            <textarea
                placeholder="Output"
                class="form-control" 
                id="output" 
                name="output" 
                rows="4"
                required></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="input">Enter Input File</label>
            <input
              type="file"
              id="input"
              name="input"
              accept="input/*"
              class="form-control"
              placeholder="Enter Description"
              required
            />
          </div>
          <div class="form-group">
            <label for="output">Enter Output File</label>
            <input
              type="file"
              id="output"
              name="output"
              accept="output/*"
              class="form-control"
              placeholder="Enter Description"
              required
            />
          </div> -->

          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>