<style>
    #bottom-footer {
        position: relative;
        margin-top: -180px;
        /* height: 180px; */
        /* clear: both; */
    }
</style>
<!-- <link href="/coming_soon.css" rel="stylesheet" /> -->

<!-- <link rel="stylesheet" href="/coming_soon.css">
<div class="bgimg">
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p>35 days</p>
    </div>
</div> -->

<!-- <script src=""></script> -->

<style>
    .center {
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        /* width: 50%; */
        width: 100%;
        /* padding-bottom: -180px; */
        margin-bottom: -100px;
    }
</style>


<!-- <div class="container"> -->
<img src="/img/coming-soon-4.jpg" class="center" />
<!-- </div> -->