<style>
    .fit-image {
        width: 100%;
        object-fit: cover;
        height: 200px;
        /* only if you want fixed height */
    }
</style>
<div class="container">
    <div class="row">
        <!-- Searched users -->
        <div class="col-md-8">
            <br>
            <br>

            <h2 class="my-4">
                <%=user.length%> User(s) Found
            </h2>
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <!-- <div class="card-deck" style="padding-right: 0.5em; padding-bottom: 0.5em;"> -->
                <% user.slice().reverse().forEach((user)=> { %>
                    <div class="card-deck" style="padding-right: 0.5em; padding-bottom: 0.5em;">
                        <div class="card bg-light mb-3" style="width: 15rem;">
                            <img class="card-img-top fit-image" src="<%= user.display_picture %>" alt="user image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=user.name%>
                                </h5>
                                <a href="/users/<%=user._id%>" class="btn btn-primary">Check profile</a>

                            </div>
                            <div class="card-footer text-muted">
                                <%if(user.userType && user.userType.localeCompare("user")==0) {%>
                                    Student
                                    <%}%>
                                        <%if(user.userType && user.userType.localeCompare("employer")==0) {%>
                                            Employer
                                            <%}%>
                                                <%if(user.userType && user.userType.localeCompare("professor")==0) {%>
                                                    Professor
                                                    <%}%>
                            </div>

                        </div>
                    </div>

                    <% }) %>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Filters (Not-Enabled)</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Student</a>
                                </li>
                                <li>
                                    <a href="#">Employer</a>
                                </li>
                                <li>
                                    <a href="#">Professor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
    </div>
</div>