<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-plus-square"></i>  Add New Post</h1>
      <%- include ('../partials/messages') %>
      <form action="/posts" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="Enter Title"
            required
          />
        </div>
        <div class="form-group">
          <label for="body">Description</label>
          <br>
          <textarea 
              class="form-control"
              id="mytextarea" 
              name="body" 
              rows="20"
              required>
          </textarea>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
            <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            class="form-control"
            placeholder="Enter Description"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-dark btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>